{% extends "layout.html" %}
{% block content %}
<header>
	{% include "logo.html" %}
</header>
<h2 class="subtitle"><strong>KodeKombat</strong> is the online
    <abbr title="Artificial Intelligence">AI</abbr> contest at
    <a title="Engineer is the annual technical fest of National Institute of Technology Karnataka, Surathkal" href="http://engineer.org.in/">Engineer 2011</a>.
</h2>

<h3> <font color="red">Starter Package for C/C++</font></h3>
<p><b>Latest Version:</b><br><br>
<a href="{{ config.webroot }}/pacman-kk-v0.3.zip">Click to download the latest linux version</a> (version 0.3) (Updated : 15:00 hours, 14 October 2011)<br/><br/>
<a href="{{ config.webroot }}/pacman-kk-windows-v0.1.tar.gz">Click to download the latest windows version</a>(Updated : 01:00 hours, 14 October 2011)</p> 
<p><b>Earlier Versions:</b><br><br>
<a href="{{ config.webroot }}/pacman-kk-v0.2.tar.gz">Click to download version 0.2</a><br/><br/>
<a href="{{ config.webroot }}/pacman-kk-v0.1.zip">Click to download version 0.1</a>
</p>
<h3> <font color="red">Source for C/C++</font></h3> (These are compatible only on linux)
<p><b>Latest Version:</b><br><br>
<a href="{{ config.webroot }}/pacman-source-v0.3.zip">Click to download the source code</a>(version 0.3) (Updated : 15:00 hours, 14 October 2011) </p>
<p><b>Older Version:</b><br><br>
<a href="{{ config.webroot }}/pacman-source-v0.2.zip">Click to download the source code</a>(version 0.2) </p>
<center><h4 class="subtitle"><font color="red">Note: </font>Last date to upload or change bot is 2359hours, 29th October 2011.</h4></center><br/>


{% endblock %}

