{% extends "layout.html" %}
{% block content %}
<header>
	{% include "logo.html" %}
</header>

<br/><br/>
<p><font color="red"><b>Q. Which languages can I submit my bot in?</b></font><br/>
<b>Ans:</b> You can submit your bot in any language you like. In case we are not able to get its interpreter/compiler, you should be able to point us to an interpreter for your program. The current starter pack supports only C/C++. Feel free to download the source code and make the necessary tweaks for your langauge. Otherwise, kindly wait till the next release to be updated soon.
<br/><br/>
<font color="red"><b>Q. Will my bot work when the engine is updated?</b></font><br/>
<b>Ans:</b> Yes. We will take care to make sure all engines are backward compatible.
<br/><br/>
<font color="red"><b>Q. Will my ranking matter if I submit earlier or later?</b></font><br/>
<b>Ans:</b> No, you always play enough games till your ranking stabilizes.
<br/><br/>
<font color="red"><b>Q. I think there is a bug in the engine / viewer?</b></font><br/>
<b>Ans:</b> Please do drop us a mail with your viewer file and the bot that you used when you stumbled across the bug. We'll rush to fix it. If you've already fixed the bug, send in a patch and we'll review and apply it right away.</p>
{% endblock %}

